<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <!-- Inclua o CSS do Bootstrap ou qualquer outro estilo que você esteja usando -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Cadastro de Usuário</h2>
        <form method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_nome">Nome</label>
                {{ form.nome }}
            </div>

            <div class="form-group">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="id_senha">Senha</label>
                {{ form.senha }}
            </div>

            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
    <div style="text-align: center;">
        <span style="margin-right: 10%;">Ja possui conta?</span> 
        <span style="margin-left: 150px;"><a href="{% url 'login' %}" style="text-decoration: none; font-size: 20px;"> Entrar! </a></span>
    </div>

    <!-- Inclua o JS do Bootstrap ou qualquer outro script que você esteja usando -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
