<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar de Caridade</title>
</head>
<body>
    <a href="{% url 'cadastrarevento' %}">Cadastrar Evento</a>
    {% if evento %}
    <ul>
        {% for evento in evento %}
            <a href="{% url 'itemevento' evento_id=evento.id%}"><li>{{ evento.nome }}</li></a>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum Evento Cadastrado!</p>
{% endif %}
</body>
</html>