<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itens do Evento</title>
</head>
<body>
    <h1>Evento: {{ evento.nome }}</h1>
    <p>Início: {{ evento.evento_inicio }} - Fim: {{ evento.evento_fim }}</p>

    {% if itens %}
        <h2>Itens Relacionados</h2>
        <ul>
            {% for item in itens %}
                <li>
                    <strong>{{ item.nome }}</strong><br>
                    <img src="{{ item.imagem.url }}" alt="{{ item.nome }}" style="width: 100px; height: auto;"><br>
                    Descrição: {{ item.descricao }}<br>
                    Preço: R$ {{ item.preco }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum item encontrado para este evento.</p>
    {% endif %}

    <a href="{% url 'itens' %}">Cadastrar Item</a><br>
    <a href="{% url 'eventos' %}">Voltar para a lista de eventos</a>
    <a href="{% url 'logout' %}">Sair</a>
</body>
</html>